<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">

		</div>
		<div class="col-6 text-right">
			<a th:href="@{/bidList/list}" href="/">Home</a>&nbsp;|&nbsp;<a th:action="@{/api/logout}" href="/login">Logout</a>
		</div>
	</div>
	<div class="row"><h2>User List</h2></div>
	<div class="row">
		<a href="/admin/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Full Name</th>
					<th>User Name</th>
					<th>Role</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="userDTO : ${users}">
					<td style="width: 10%" th:text="${userDTO.id}"></td>
					<td th:text="${userDTO.fullname}"></td>
					<td th:text="${userDTO.username}"></td>
					<td style="width: 25%" th:text="${userDTO.role}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/admin/update/{id}(id=${userDTO.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/admin/delete/{id}(id=${userDTO.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>